<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IMhbApiService" maxReceivedMessageSize="2147483647" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://api.myhomebills.info/MhbApiService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMhbApiService"
        contract="MhbApiService.IMhbApiService" name="BasicHttpBinding_IMhbApiService" />
    </client>
  </system.serviceModel>

  <appSettings>
    <!-- Refresh interval in seconds (i.e. 5 seconds) -->
    <add key="TimerInterval" value="30" />

    <add key="UserName" value="dimitar.rusev@outlook.com" />
    <add key="Password" value="Mitko123" />
    <add key="APIKey" value="E7FD11330D964903A58D1EED356D2445" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>