<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="MHBEntities" connectionString="metadata=res://*/MHBModel.csdl|res://*/MHBModel.ssdl|res://*/MHBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost\SQLEXPRESS;initial catalog=Test01Db;persist security info=True;user id=sa;password=mitko123;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
