body
{
    font-family: sans-serif;
    font-size: 12px;
}

#grid th
{
    background: #565656;
    color: #fff;
}
#grid th, #grid td
{
    padding: 6px;
}
#grid tr:nth-child(2n)
{
    background: #F7F7F7;
}

#status
{
    background: #565656;
    border-top: 1px solid #CECECE;
    box-shadow: 0 0 8px rgba(0,0,0,.2);
    color: #fff;
    font-size: 2em;
    padding: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

/****** Context Menu Styles ******/
#contextMenu
{
    background: #F9F9F9;
    box-shadow: 0 0 12px rgba( 0, 0, 0, .3 );
    border: 1px solid #ccc;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    list-style: none;
    margin: 0;
    padding: 0;
    min-width: 200px;
}
#contextMenu li
{
    position: relative;
}
#contextMenu li:hover
{
    background: #444;
}
#contextMenu a
{
    color: #444;
    display: inline-block;
    padding: 8px;
    text-decoration: none;
    width: 85%;
}
#contextMenu li:hover a
{
    color: #f9f9f9;
}