ALTER TABLE tbDetailsTable01 ADD IsSurplus BIT NOT NULL DEFAULT 0
ALTER TABLE tbDetailsTable02 ADD IsSurplus BIT NOT NULL DEFAULT 0
ALTER TABLE tbDetailsTable03 ADD IsSurplus BIT NOT NULL DEFAULT 0
ALTER TABLE tbDetailsTable04 ADD IsSurplus BIT NOT NULL DEFAULT 0
ALTER TABLE tbDetailsTable05 ADD IsSurplus BIT NOT NULL DEFAULT 0